<div class="album">
    <div class="container">
        <div class="row">
        {% for image in gallery %}
            <div class="col-md-4 clearfix">
                <div class="card mb-4 shadow-sm" style="width:20rem;height:40rem;">
                    <div class="card-header"><b>{{image.name}}</b></div>
                    <br>
                    <div class="card-body">                    
                        <img class="card-img-top" src = "{{ image.photo.url }}"/>
                        <br>              
                        <br>
                        <p class="card-text">{{image.summary}}</p>
                        <small class="text-muted">Posted : {{image.pub_date|timesince}}</small>
                        <br>
                        <br>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#myModal"><b>View</b></button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>  
            </div>

        {% empty %}
            <h3>The gallery is empty!</h3>
        {% endfor %}
        </div>
    </div>
</div>


<!-- Start Modal -->
{% for image in gallery %}
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>{{image.name}}</b></h4>
                <br>
            </div>
            <div class="modal-body">
                <!-- <img src = "{{ image.photo.url }}"/>
                <br> -->
                <p>{{image.summary}}</p>
                <br>
                <small class="text-muted">Posted : {{image.pub_date|timesince}}</small>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% endfor %}
<!-- End Modal-->