{% extends 'base.html' %}

{% block content %}

<main role="main">
    <div>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading" style="font-size:72px;" ><b>My Gallery</b></h1>
                <p class="lead text-muted"><i>An archive of East Africa's beauty.</i></p>
                <br>
                <hr>
                <br>
                <p><a href="{% url 'gallery' %}" class="btn btn-info btn-lg">View all Photos</a></p>
                <br>
                <!--<p>
                    <a href="{% url 'urban'%}" class="btn btn-success">Urban</a>
                    <a href="{% url 'wild'%}" class="btn btn-primary">Wild</a>
                    <a href="{% url 'traditional'%}" class="btn btn-success">Traditional</a>
                    <a href="{% url 'scenic'%}" class="btn btn-primary">Scenic</a>
                </p>-->
            </div>
        </section>
    </div>
  
    {% include 'gallery/show_album.html' %}
</main>
{% endblock %}