{% extends 'base.html' %}

{% block content %}

<main role="main">
    <div>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading" style="font-size:72px;" ><b>My Gallery</b></h1>
                <p class="lead text-muted"><i>An archive of East Africa's beauty.</i></p>
                <br>
                <hr>
                <br>
                <p><a href="{% url 'gallery' %}" class="btn btn-info btn-lg">View our Collection</a></p>
                <br>
            </div>
        </section>

        <div class="row">
            <div class="col-md-9 container">
                <span id="locations">
                    {% for location in locations %}
                        <a class="btn btn-outline-info btn-sm" id="btn"
                            href="/location/{{location.name}}"><b></b>{{location.name}}
                        </a>
                    {%endfor%}
                </span>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
  
    {% include 'gallery/show_album.html' %}
</main>
{% endblock %}