{% extends 'base.html' %}

{% block content %}
<div class="album">
    <br>
    <br>
    <div class="container">
        <h2 style="text-align:center"><b> Traditional </b></h2>  
        <br> 
        <hr>
        <br>   
        <div class="row">
            {% for image in traditional %}
            {% include 'category_detail.html'%}
            {% include 'modal.html' %}
            <br>
            <hr>
            {% empty %}
            <h3>No Images to display.</h3>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}